#button1{
	padding: 10px 24px;
	width: 20%;
	height: 6%;
	text-align: center;
	margin-left: 30%;
}
#button2{
	width: 20%;
	height: 6%;
	top: 76%;
  border: 6px solid  #1f2028;
  background: none;
  padding: 10px 24px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  margin: 12px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  color: black;
	font-weight: bold;
	text-align: center;
}
.button{
    border: 6px solid  #1f2028;
    background: none;
    padding: 10px 24px;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    margin: 12px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    color: black;
		text-align: center;
  }
.button::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
    bottom: 0;
    border-radius: 50% 50% 0 0;
}
.button:hover{
    color: #fff;
}
.button:hover::before{
    height: 180%;
}

body {
    background: linear-gradient(#3B518A, #3498db);
    height: 100vh;
}
h1{
	font-family:'Press Start 2P', cursive;
	font-size: 75px;
	align-items: center;
	text-align: center;
	color: #1f2028;
}
img{
	width: 100%;
	object-fit: contain;
	margin-bottom: 5%;
}
.hide {
    display: none;
}

table, #table1, #table2{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
	border: solid;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  /* margin-left:35%;
  margin-right:35%; */
	color: #1f2028;
	padding: 1% 1.5%;
}
#input{
	text-align: center;
	box-sizing: border-box;

}
#frontbutton{
	width: 20%;
	height: 6%;
	top: 66%;
  border: 6px solid  #183E61;
  background: none;
  padding: 10px 24px;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  argin: 12px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  color: black;
	font-weight: bold;
	text-align: center;

}
.error{
    color: red;
    text-align: center;
    font-weight: bold;
    font-family: "montserrat";
}
.notice{
    color: green;
    text-align: center;
    font-weight: bold;
    font-family: "montserrat";
}